@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
}

h1,
h2,
h3 {
    color: var(--Neutral-Dark-blue);
    margin-bottom: 0.5em;
}

p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--Neutral-Grayish-Blue);

    max-width: 75ch;

    margin-bottom: 1ch;

    &:last-of-type {
        margin-bottom: 0;
    }
    a {
        color: var(--Neutral-Grayish-Blue);
        font-weight: 500;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    cursor: pointer;

    transition: background-color var(--transition-time) ease-in-out;

    &.w100 {
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-size: 0.875rem;
            font-weight: bold;
            color: var(--Neutral-Dark-blue);
        }

        input,
        textarea {
            font-size: 0.875rem;
            background-color: var(--Neutral-Very-light-gray);
            padding: 0.5em 1em;
            border-radius: 0.5em;
            border: 3px solid var(--Neutral-Light-gray);

            &:focus {
                outline: 0px;
                border-color: var(--Primary-Moderate-blue);
            }
        }

        textarea {
            aspect-ratio: 3/1;
            resize: vertical;
        }
    }
    button {
        align-self: flex-start;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.grid-container {
    --grid-min-width: 300px;
    --grid-gap: 1.5rem;

    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, var(--grid-min-width)), 1fr)
    );
    gap: var(--grid-gap);

    list-style: none;
}
.card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid var(--Primary-Light-grayish-blue);
}
