* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (width > 768px) {
    html {
        font-size: 1.4rem;
    }
}
body {
    font-family: "Roboto Mono", serif;
    background-color: var(--Neutral-White);
}

main {
    padding-inline: 1rem;
    max-width: 75ch;
    margin-inline: auto;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin-block: 2rem;
    .profile-image-continer {
        padding: 1rem;
        border-radius: 1rem;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.8rem 0.8rem 0 0;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0;
        }

        p {
            font-weight: 300;
        }

        button {
            margin-top: 4px;
        }
    }
}

.contact-wraper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin-block: 2rem;

    .contact-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (width > 768px) {
    .contact-wraper {
        img {
            justify-self: center;
            width: 200px;
        }
    }
}

.links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
    }
}

.modal {
    --modal-padding-block: 1rem;
    --modal-padding-inline: 1rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 75ch;
    height: calc(100% - var(--modal-padding-block) * 2);
    width: calc(100% - var(--modal-padding-inline) * 2);

    border: 0px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .content {
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-y: auto;

        .hadder {
            display: flex;
            justify-content: flex-end;

            button {
                font-size: 1.5rem;
                background-color: transparent;
                border: none;
                cursor: pointer;
                width: auto;
            }
        }

        .contrubuturs {
            margin-bottom: 1.4rem;
        }

        .links {
            margin-top: 0;
        }
        ul {
            padding-left: 1.5em;
        }
    }
}

.skills-continer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1.5rem;

    h2,
    p {
        grid-column: 1 / -1;
    }
    .skills {
        display: flex;
        gap: 1.5rem;
        margin-top: 1rem;
    }
    ul {
        margin-top: 1rem;
        padding-left: 1.5em;
    }
    img {
        justify-self: center;
        margin-top: 1rem;
    }
}

@media screen and (width > 630px) {
    .skills-continer {
        img {
            height: 200px;
        }
    }
}

.posts {
    margin-top: rem;
}