* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary-Moderate-blue: hsl(238, 40%, 52%);
    --Primary-Light-grayish-blue: hsl(239, 57%, 85%);
    --Primary-Soft-Red: hsl(358, 79%, 66%);
    --Primary-Pale-red: hsl(357, 100%, 86%);

    --Neutral-Dark-blue: hsl(212, 24%, 26%);
    --Neutral-Grayish-Blue: hsl(211, 10%, 45%);
    --Neutral-Light-gray: hsl(223, 19%, 93%);
    --Neutral-Very-light-gray: hsl(228, 33%, 97%);
    --Neutral-Very-light-gray-40: hsla(228, 33%, 97%, 0.4);
    --Neutral-White: hsl(0, 0%, 100%);

    --transition-time: 0.15s;
}

/* Text colors */
.text-neutral-white {
    color: var(--Neutral-White);
}

.text-neutral-grayish-blue {
    color: var(--Neutral-Grayish-Blue);
}

.text-neutral-moderate-blue {
    color: var(--Primary-Moderate-blue);
}

/* bg colors */
.bg-primary-soft-red {
    background-color: var(--Primary-Soft-Red);
}

.bg-primary-pale-red-hover:hover, 
.bg-primary-pale-red-focus:focus  {
    background-color: var(--Primary-Pale-red);
}

.bg-neutral-grayish-blue {
    background-color: var(--Neutral-Grayish-Blue);
}

.bg-primary-light-grayish-blue {
    background-color: var(--Primary-Light-grayish-blue);
}

.bg-primary-light-grayish-blue-hover:hover, 
.bg-primary-light-grayish-blue-focus:focus {
    background-color: var(--Primary-Light-grayish-blue);
}

.bg-neutral-moderate-blue {
    background-color: var(--Primary-Moderate-blue);
}
.bg-neutral-moderate-blue-hover:hover, 
.bg-neutral-moderate-blue-focus:focus {
    background-color: var(--Primary-Moderate-blue);
}

.bg-neutral-light-gray {
    background-color: var(--Neutral-Light-gray);
}

body {
    font-family: "Roboto Mono", serif;
    background-color: var(--Neutral-White);
}

h1,
h2,
h3 {
    color: var(--Neutral-Dark-blue);
    margin-bottom: 1rem;
}

p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--Neutral-Grayish-Blue);

    max-width: 75ch;

    margin-bottom: 1ch;

    &:last-of-type {
        margin-bottom: 0;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    cursor: pointer;

    transition: background-color var(--transition-time) ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-size: 0.875rem;
            font-weight: bold;
            color: var(--Neutral-Dark-blue);
        }

        input, textarea {
            background-color: var(--Neutral-Very-light-gray);
            padding: 0.5em 1em;
            border-radius: 0.5em;
            border: 3px solid var(--Neutral-Light-gray);

            &:focus {
                outline: 0px;
                border-color: var(--Primary-Moderate-blue);
            }
        }

    }
    button {
        align-self: flex-start;
    }
}

main {
    padding-inline: 1rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin-block: 2rem;
    .profile-image-continer {
        padding: 1rem;
        border-radius: 1rem;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.8rem 0.8rem 0 0;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0;
        }

        p {
            font-weight: 300;
        }

        button {
            margin-top: 4px;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;

    margin-bottom: 40px;
}
